body {
    background-color: #1f2937;
    margin:0%;
    padding: 0%;
}


.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 600px;
    padding-top: 10px;
}

.header-list {
    display: flex;
    gap: 40px;
    font-size: 18px;
}

ul {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
  }

h1 {
   font-size: 24px;
   color: #f9faf8;
    margin: 0%;
}

.header-bottom {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.hero-container{
    padding-bottom: 80px;
}

.hero-main {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-sec {
    font-size: 18px;
    color: #e5e7eb;
}

.button-one {
    margin-top: 15px;
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #3882f6;
    cursor: pointer;
}

.button-one:active {
    background-color: #0143ad;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.middle {
    background-color: white;
    margin-top: 200px;
}

.middle-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.picture-container {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    gap: 180px;
}

.pictures {
    width: 180px;
    height: 180px;
    border: 5px solid #3882f6;
    border-radius: 25px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    width: 130px;
    justify-content: center;
}

.text {
    margin: 0%;
    font-size: 18px;
    color:#1f2937;
    padding-top: 10px;
}


.quote {
    font-size: 36px;
    font-style: italic; 
    background-color: #e5e7eb;
    width: 1905px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}



.quote-name {
    font-size: 24px;
    font-weight: bolder;
    width: 800px;
    text-align: end;
}








